// Your custom variables
$navbar-footer-color:#a96fc0;
$secondary-color:#54698585;
$component-color:#ffd369;
$branding-color:#8f928d;
$white: #FFFFFF;
$black: #000;
$introduction: #13292A;
$workExperience: #E7DED9;
$languagesKnown: #988780;
$carousel-indicator-color: #00000048;
$modal-color:#546985;